<template>
	<div class="game-icon">
		<img width="32" height="32" :src="imageSource" alt="Icon" />
		<span v-if="hover" class="icon-text">{{ nameText }}</span>
	</div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { itemsById, itemsByName } from "../data/items";
import { machinesById, machinesByName } from "../data/machines";
import { IItem, IMachine, IBelt } from "../models";
import { beltsById, beltsByName } from "../data/belts";

@Component
export default class GameIcon extends Vue {
	@Prop(Number)
	readonly id: number;

	@Prop(String)
	readonly name: string;

	@Prop()
	readonly entity: IItem | IMachine | IBelt;

	@Prop({ type: String, required: true })
	readonly type: "item" | "machine" | "belt";

	@Prop({ type: Boolean, default: true })
	readonly hover: boolean;

	get _entity() {
		if (this.entity) {
			return this.entity;
		}
		else if (this.id) {
			switch (this.type) {
			case "item":
				return itemsById[this.id];
			case "machine":
				return machinesById[this.id];
			case "belt":
				return beltsById[this.id];
			}
		}
		else if (this.name) {
			switch (this.type) {
			case "item":
				return itemsByName[this.id];
			case "machine":
				return machinesByName[this.id];
			case "belt":
				return beltsByName[this.id];
			}
		}
		return null;
	}

	get imageSource() {
		return (this._entity && this._entity.icon !== "") ? this._entity.icon : "images/icons/placeholder.png";
	}

	get nameText() {
		return this._entity ? this._entity.name : "";
	}

	created() {
		if (!this.id && !this.name && !this.entity) {
			throw new Error("Must provide either id, name of an item or machine");
		}
	}
}
</script>

<style lang="less" scoped>
	@icon-size: 32px;
	@text-padding: 0.6em;
	@background: #4f4f4a;

	.game-icon {
		vertical-align: middle;
		display: inline-block;
		height: @icon-size;
		position: relative;
	}

	.icon-text {
		visibility: hidden;
		opacity: 0;
		display: inline-block;
		transition: opacity 400ms;

		position: absolute;
		z-index: 1;
		top: -(@text-padding / 2);
		left: 120%;

		background-color: @background;
		color: #fff;
		padding: @text-padding;

		line-height: 1em;
		white-space: nowrap;

		border-radius: 6px;
		box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.4);

		&::after {
			content: " ";
			position: absolute;
			top: 50%;
			right: 100%;
			margin-top: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent @background transparent transparent;
		}
	}

	img:hover + .icon-text {
		visibility: visible;
		opacity: 1;
	}
</style>
