<template>
	<div>
		<h3>Desired Outputs</h3>
		<div class="outputs">
			<OutputSelector></OutputSelector>
		</div>
		<h3>Graph</h3>
		<div v-if="productionSteps">
			<svg id="graph-svg-canvas">
				<g id="graph-group"></g>
			</svg>
		</div>
		<div v-else class="alert-error">
			Error: {{ error }}
		</div>
		<RequirementDisplay :productionSteps="stepsFlat" />
	</div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import RequirementDisplay from "./RequirementDisplay.vue";
import { Watch } from "vue-property-decorator";
import * as d3 from "d3";
import dagreD3 from "dagre-d3";
import svgPanZoom from "svg-pan-zoom";
import OutputSelector from "./OutputSelector.vue";
import { calculateSteps } from "../data/calculator";
import store from "../store";
import * as graph from "../data/graph";
import "../styles/graph.less";
import { IProductionStep } from "../models";

@Component({
	components: {
		OutputSelector,
		RequirementDisplay
	}
})
export default class Graph extends Vue {
	renderFunc = new dagreD3.render();
	error: string | null = null;
	zoom: SvgPanZoom.Instance;

	get productionSteps() {
		this.error = null;
		try {
			return calculateSteps(store.state.requiredOutputs, { enabledMachines: store.getters.enabledMachines, enabledRecipes: store.getters.enabledRecipes });
		}
		catch (e) {
			this.error = e.message;
			return null;
		}
	}

	get stepsFlat(): IProductionStep[] {
		return this.productionSteps ? this.flattenSteps(this.productionSteps) : [];
	}

	flattenSteps(productionSteps: IProductionStep[]) {
		return productionSteps.reduce((steps, step) => {
			return [
				...steps,
				step,
				...(step.required ? this.flattenSteps(step.required) : [])
			];
		}, []);
	}

	@Watch("productionSteps")
	onProductionChanged() {
		// We need to wait for the next tick as the svg elements won't be rendered until after this update
		Vue.nextTick(this.renderGraph);
	}

	mounted() {
		this.renderGraph();

		// Listen to the resized event
		window.addEventListener("resize", this.onResize);
	}

	beforeDestroy() {
		// Remove the zoom function
		if (this.zoom) {
			this.zoom.destroy();
		}

		// Remove the resized event listener
		window.removeEventListener("resize", this.onResize);
	}

	renderGraph() {
		// Make sure the recipe is doable
		if (this.productionSteps) {
			const svgGroup = d3.select("#graph-svg-canvas > #graph-group");

			const g = graph.createNormalGraph(this.productionSteps);

			if (this.zoom) {
				this.zoom.destroy();
			}

			// Remove all child nodes and styles
			svgGroup.selectAll("*").remove();
			svgGroup.attr("transform", null);
			svgGroup.attr("style", null);

			this.renderFunc(svgGroup as any, g);

			this.zoom = svgPanZoom("#graph-svg-canvas", {
				controlIconsEnabled: true,
				zoomScaleSensitivity: 0.4
			});
		}
	}

	onResize() {
		if (this.zoom) {
			this.zoom.resize();
			this.zoom.fit();
			this.zoom.center();
		}
	}
}
</script>

<style lang="less">
	#graph-svg-canvas {

		border: 1px solid lightgrey;
		width: 100%;
		height: 600px;

		g.final-output > rect {
			fill: #00ffd0;
		}

		text {
			font-weight: 300;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			font-size: 14px;
		}

		.node rect {
			stroke: #999;
			fill: #fff;
			stroke-width: 1.5px;
		}

		.edgePath path {
			stroke: #333;
			stroke-width: 1.5px;
		}
	}
</style>

<style lang="less" scoped>
	ul {
		list-style: none;
		padding: 0;
	}

	li {
		margin-bottom: 0.5em;
		height: 32px;

		input {
			margin-right: 0.7em;
			vertical-align: middle;
		}
	}
</style>
