<template>
	<div>
		<label>Node Purity</label>
		<select :value="nodePurity" @change="onChange">
			<option v-for="type in nodeTypes" :key="type" :value="type">{{ type }}</option>
		</select>
	</div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import store from "../store";

@Component
export default class NodePuritySelector extends Vue {
	get nodePurity() {
		return store.state.nodePurity;
	}

	get nodeTypes() {
		return [
			"Impure",
			"Normal",
			"Pure"
		];
	}

	onChange(e) {
		const newType = e.target.value;
		store.commit("changeNodePurity", newType);
	}
}
</script>

<style lang="less" scoped>
	div {
		width: 20em;
	}

	label {
		
	}

	select {

	}
</style>
