<template>
	<div v-if="productionSteps">
		<table>
			<thead>
				<tr>
					<th>Machine</th>
					<th>Items per minute</th>
					<th>Power Usage</th>
				</tr>
			</thead>
			<tbody>
				<tr class="step-row" v-for="(step, index) in stepsFlat" :key="index">
					<td class="step-machine">
						<div v-if="step.level !== 0" :class="`indent-${step.level}`">&nbsp;</div>
						<span>{{ step.quantity | round(1) }} X </span>
						<game-icon type="machine" :id="step.machineId" />
					</td>
					<td class="step-output">
						<game-icon type="item" :entity="getStepOutput(step)" />
						<span>{{ getStepRate(step) | round(1) }} items/m</span>
					</td>
					<td class="step-power">
						<span>{{ getStepPower(step) | round(0) }} MW</span>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td>Total: {{ totalPower | round(1) }} MW</td>
				</tr>
			</tfoot>
		</table>
		<RequirementDisplay :productionSteps="stepsFlat" />
	</div>
	<div v-else class="alert-error">
		Error: {{ error }}
	</div>
	
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import RequirementDisplay from "./RequirementDisplay.vue";
import { IProductionStep } from "../models";
import { recipesById } from "../data/recipes";
import { itemsById } from "../data/items";
import { machinesById } from "../data/machines";
import { calculateSteps, calculateItemRate } from "../data/calculator";
import store from "../store";

@Component({
	components: {
		RequirementDisplay
	}
})
export default class ProductionChain extends Vue {
	error: string | null = null;

	get productionSteps() {
		this.error = null;
		try {
			return calculateSteps(store.state.requiredOutputs, { enabledMachines: store.getters.enabledMachines, enabledRecipes: store.getters.enabledRecipes });
		}
		catch (e) {
			this.error = e.message;
			return null;
		}
	}

	get stepsFlat(): IProductionStep[] {
		return this.productionSteps ? this.flattenSteps(this.productionSteps) : [];
	}

	get totalPower() {
		return this.stepsFlat.reduce((total, step) => {
			return total + this.getStepPower(step);
		}, 0);
	}

	flattenSteps(productionSteps: IProductionStep[]) {
		return productionSteps.reduce((steps, step) => {
			return [
				...steps,
				step,
				...(step.required ? this.flattenSteps(step.required) : [])
			];
		}, []);
	}

	getStepOutput(step: IProductionStep) {
		return itemsById[recipesById[step.recipeId].output.itemId];
	}

	getStepRate(step: IProductionStep) {
		const recipe = recipesById[step.recipeId];
		return calculateItemRate(step.quantity, recipe.baseRate, recipe.output.quantity, machinesById[step.machineId].rateMultiplier);
	}

	getStepPower(step: IProductionStep) {
		return machinesById[step.machineId].powerUsage * step.quantity;
	}
}
</script>

<style lang="less" scoped>
	td {
		line-height: 2.2em;

		div, span, .game-icon {
			vertical-align: middle;
		}
	}

	.step-machine {
		// This needs to be big to accomodate the indentation
		width: 20em;
	}

	.step-output {
		width: 12em;
	}

	.generate-indents(@n, @i: 1) when (@i <= @n) {
		.indent-@{i} {
			display: inline-block;
			width: @i * 2em;
			background: url(../images/icons/indent.png) no-repeat right;
		}
		.generate-indents(@n, (@i + 1));
	}

	.generate-indents(10);
</style>
